<form action="signup" method="POST">
    <input type="email" name="email" placeholder="Escribe tu correo">
    <input type="password" name="password" placeholder="Escribe tu contraseña">

    <button type="submit">Signup</button>
</form>